.gallery_link {
   width: 100%;
   height: 290px;
   display: flex;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 10px;
}

.gallery_link > a {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #fff;
   font-size: 1.4rem;
   font-weight: 400;
   font-family: var(--font-secondary);
   text-transform: uppercase;
}

.character_index_link {
   background-image: url(/imgs/characterdesign.jpg);
}

.illustration_index_link {
   background-image: url(/imgs/illustration.jpg);
}

@media (max-width: 850px) {
   .gallery_link {
      height: 170px;
   }
}
