@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Unica+One&display=swap');

:root {
   --font-primary: 'PT Mono', monospace;
   --font-secondary: 'Unica One', cursive;
   --colour-green: #50c878;
   --colour-dark-green: #32a357;
   --colour-grey: #999;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

html {
   font-size: 10px;
}

body {
   padding: 70px 0px;
   background-color: #fcfcfc;
}

.container {
   max-width: 1525px;
   margin: auto;
   padding: 0 50px;
}

@media (max-width: 1150px) {
   body {
      padding: 35px 0px;
   }

   .container {
      padding: 0 20px;
   }
}

@media (max-width: 750px) {
   body {
      padding: 20px 0;
   }
}
